
/*desktop layout*/
body {
    width:100%;
    margin:0;
    padding:0;
    background-color:#e4ebd3;
}
img {
    width:100%;
}
img#mesmiling {
    width:15%;
    padding-left:5%;
    padding-right:5%;
    padding-top:8%;
    float:left;
}
header {
    margin:0;
    padding-bottom: 0;
    padding:0;
}

section#id1 {
   padding-top:2%;
   padding-left:4%;
   padding-right:4%; 
}
h2 {
    padding-top:3;
    
}
h4 {
    font-size: 20px
}
p {
    padding-left:25%
}
section#id2 {
   padding-top:2%;
   padding-left:4%;
   padding-right:4%; 
}

/*mobile layout*/
@media only screen and (max-width:500px) {

    body {width: 80%;
        padding: 2% 2%;
    }

    img {
        80%;
    }
}