
/*desktop layout*/
body {
    width:100%;
    margin:0;
    padding:0;
    background-color:#92a6a1;
}
img {
    width:100%;
}
img#mesmiling {
    width:15%;
    padding-left:5%;
    padding-right:5%;
    padding-top:8%;
    float:left;
}
header {
    margin:0;
    padding-bottom: 0;
    padding:0;
}

section#id1 {
    padding-top:2%;
    padding-left:4%;
    padding-right:4%;
    font-family: 'Montserrat', sans-serif;    
    color:#7e3b49; 
}
h1 {
    color:#92a6a1; 
    position:absolute;
    right:25%;
    left:2%;
    font-family: 'Rubik Mono One', sans-serif; 
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 6px 6px #7e3b49;
}
h2 {
    padding-top:3;
    font-family: 'Covered By Your Grace', cursive;
    padding-top:2%;
    padding-left:4%;
    padding-right:4%; 
    color:#7e3b49;
}
h4 {
    position: absolute;
    padding-left: 2%;
    font-family: 'Covered By Your Grace', cursive;
    font-size:1.8em;
    letter-spacing:3px;
    color:#7e3b49;
    text-shadow: 2px 2px #92a6a1;
}
h5 {
    color:#7e3b49;
    position:absolute;
    left: 3%;
    padding-top:18%; 
    font-family: 'Covered By Your Grace', cursive;
    font-size:2em;
    letter-spacing:2px;
}
p {
    padding-left:25%
    font-family: 'Montserrat', sans-serif;    
}
section#id2 {
   padding-top:2%;
   padding-left:4%;
   padding-right:4%; 
}

/*mobile layout*/
@media only screen and (max-width:500px) {

    body {width: 80%;
        padding: 2% 2%;
    }

    img {
        80%;
    }
}