body {
    background-color: black;
    color: white;
    margin: 0;
    width:100%;
}
img {
    width:100%;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 35%;
    
}

p {
    font-family: 'Sansita', sans-serif;
    width:80%;
    text-align: justify;
    padding-left: 10%;
   
}
img#firstpic {
    width: 63%;
    padding-left:17%;
}
img#smallerpic {
    width:65%;
    padding-left: 19%;
}



