/*desktop layout*/
@font-face {
    font-family:ComicBook;
    src: url('../fonts/Comic Book Italic.otf');
}
body {
    width:100%;
    margin:0px;
    padding:0px;
    background-color:black;
    color:whitesmoke;
}

h1 {
margin-left:25%;
  margin-right:25%;
    padding-top:8%;
    font-family:ComicBook;
    font-size:25px;
    letter-spacing:.1em;
    text-align:center;
}
p {
    width:50%;
margin-left:25%;
    margin-right: 25%;
    font-family:ComicBook;
    font-size:16px;
    letter-spacing:.2em;
    text-align:left;
}
img#motiongraphic {
    width:100%;
}
img#firstpic {
    width:65%;
   margin-left:17%;
    padding-top:10%;
}
img#mashedlogo {
    width:15%;
    margin-left:42.5%;
   margin-right:42.5%; 
    padding-top:2.5%;
}
img#smallerpic {
    width:65%;
   margin-left:17%;
   margin-top:10%;
}
iframe {
    width:60%;
    margin-left: 20%;
    margin-right:20%; 
  margin-top:8%;
   margin-bottom:5%;
}
/*mobile layout*/
@media only screen and (max-width:500px) {
   body {
      width:100%;
      margin-right:0px;
      padding:0px;
      background-color:black;
      color:whitesmoke; 
}

h1 {
    margin-left:1%;
    margin-right:1%;
    padding-top:8%;
    font-family:ComicBook;
    font-size:.9em;
    letter-spacing:.1em;
  
} 
p {
      width:85%;
      margin-left: 7.5%;
      margin-right: 7.5%;
      font-size:.7em;
    }
img#firstpic {
    width:90%;
margin-left:5%;
margin-right:5%;
    margin-top:10%;
      padding:0;
   
}
img#mashedlogo {
    width:60%;
    margin-left:20%;
   margin-right:20%; 
    margin-top:2.5%;
}
 
img#smallerpic {
     width:90%;
     margin-left:5%;
    margin-right:5%;
    margin-top:10%;
    
} 
    iframe {
    display:block;
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
        height:50%;
        margin-top: 10%;
        padding-bottom: 5%;
        margin-bottom: 20%;
}
    
    


}









